@model  CTS_Manual_Input.Models.LabModels.BeltTransfersView
@using PagedList.Mvc;
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Данные конвейерных весов</h2>
<br />

@if ((Model.BeltTransfers.Count() > 0) && (Model != null))
{

<input type="submit" value="Добавить несколько анализов" class="btn btn-primary" name="AddBatch" id="AddBatch" />

<table class="table table-striped table-hover ">
    <thead>
        <tr>
            <th>Выбор</th>
            <th>Объект</th>
            <th>Конвейер</th>
            <th>Дата</th>
            <th>Количество, т</th>
            <th>Материал</th>
            <th>Данные анализа</th>
            <th> </th>

        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.BeltTransfers.Count(); i++)
        {
        <tr>
            <td>
                <input type="checkbox" class="transferCheck" id=@Model.BeltTransfers[i].ID>
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.BeltTransfers[i].Equip.Location.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.BeltTransfers[i].Equip.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.BeltTransfers[i].TransferTimeStamp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.BeltTransfers[i].LotQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.BeltTransfers[i].Item.Name)
            </td>
            <td>
                @if (Model.BeltTransfers[i].AnalysisID != null)
                {
                <input type="checkbox" class="custom-control-input" id="customCheck1" checked="" disabled="">
                }
                @if (Model.BeltTransfers[i].AnalysisID == null)
                {
                <input type="checkbox" class="custom-control-input" id="customCheck1" disabled="">
                }
            </td>
            <td>
                <input type="button" name="AnalysisButton" class="btn btn-primary btn-xs" value="Анализ" onclick="location.href='@Url.Action("AnalysisView", "LabBelt",
                      new { TransferID = Model.BeltTransfers[i].ID })'" />
            </td>
        </tr>
        }
    </tbody>
</table>
}
    Страница @(Model.BeltTransfers.PageCount < Model.BeltTransfers.PageNumber ? 0 : Model.BeltTransfers.PageNumber) из @Model.BeltTransfers.PageCount

    @Html.PagedListPager(Model.BeltTransfers, page => Url.Action("Index", new { page }))



    <script>
    $("#AddBatch").click(function () {
        var transfers = "";
        $('.transferCheck').each(function () {
            if ($(this).is(':checked')) {
                transfers += ($(this).attr('id')) + ',';
            }
        })

        if (transfers == "")
		{
			alert('Необходимо выбрать хотя бы 1 партию!');
		}
		else
		{
			window.location.href = '@Url.Action("AddBatchConfirm")?alltransfers=' + transfers;
		}
        });

    </script>
