@model CTS_RoleAdmin.Models.AddEditUserViewModel

<h3>Редактирование ролей пользователя @Model.UserLogin</h3>
<br/>

@using (Html.BeginForm("AddEditUser", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    @Html.HiddenFor(m => Model.UserLogin)
    @Html.HiddenFor(m => Model.UserDomain)
    @foreach (var role in Model.CtsRoles)
    {

        <div class="form-group">
            <input type="checkbox" name='@("CtsRoles[" + role.Key + "]")' value='True' checked="@role.Value">
            <label>@role.Key</label>
        </div>
    }

    <input type="submit" value="Сохранить" class="btn btn-primary" />
</div>
}


