@model CTS_Analytics.Models.Mnemonic.MnemonicMain
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="subname">@ViewBag.PageName <b></b> <span>@ViewBag.PageSubName</span></p>
<div class="topmenu">
    <a id="MnemonicMenyItemMnemonic" onclick='OnHomeClick()'>@Resources.ResourceMnemonic.MnemonicButton</a>
    <a id="MnemonicMenyItemMap" href='@Url.Action("Map", "Mnemonic")'>@Resources.ResourceMnemonic.MapButton</a>
    <a id="MnemonicMenyItemKotel" href='@Url.Action("kotel", "Mnemonic")'>@Resources.ResourceMnemonic.BoilerButton</a>

    @if (Model!=null)
    {
        var factClass = (Model.TotalFact >= Model.TotalPlan) ? "green" : "red";
    <div class="plan-fact">
        @Resources.ResourceMnemonic.PlanFact (@Resources.ResourceMnemonic.Tonns):
        <div class="result"><b class="green">@Model.TotalPlan</b> / <b class="@factClass">@Model.TotalFact</b></div>
    </div>
    }
</div>

@RenderBody()

<script>
            $(function () {
             var url = window.location.href;
             if (url.includes('Mnemonic') && !url.includes('map') && !url.includes('kotel'))
                {
                $('#MnemonicMenyItemMnemonic').addClass('active');
            }
            else if (url.includes('Mnemonic') && url.includes('Map'))
                {
                $('#MnemonicMenyItemMap').addClass('active');
            }
            else if (url.includes('Mnemonic') && url.includes('kotel'))
                {
                $('#MnemonicMenyItemKotel').addClass('active');
            }
            else {
                $('#MnemonicMenyItemMnemonic').addClass('active');
            }
    });
</script>