@model CTS_Analytics.Models.Mnemonic.abayModel

@{
    Layout = "~/Views/Mnemonic/_MnemonicMinePlanFact.cshtml";
    ViewBag.PageName = Resources.ResourceGeneral.HeaderMainPageName;
    ViewBag.PageSubName = Resources.ResourceMnemonic.KostMineName;
    ViewBag.MinePng = "mine5.png";
}
<div class="main">
    <div id="mine5_bg">

        @{
            Model.Skip1.DivID = "skip-mine5-1";
        }
        @Html.Partial("Partials/_Skip4MineMnemonic", Model.Skip1)

        @{
            Model.Vagon.DivID = "vagon-mine5-1";
        }
        @Html.Partial("Partials/_WagonScales4MineMnemonic", Model.Vagon)

        @{
            Model.Crusher.DivID = "drob-mine5-1";
        }
        @Html.Partial("Partials/_Crusher4MineMnemonic", Model.Crusher)

        @{
            Model.RockUtil.DivID = "stone-mine5-1";
        }
        @Html.Partial("Partials/_RockUtil", Model.RockUtil)

        @{
            Model.BeltPos1.DivID = "konv-mine5-1";
        }
        @Html.Partial("Partials/_BeltScales4MineMnemonic", Model.BeltPos1)

        @{
            Model.BeltPos9.DivID = "konv-mine5-2";
        }
        @Html.Partial("Partials/_BeltScales4MineMnemonic", Model.BeltPos9)

        @{
            Model.BeltBoiler.DivID = "konv-mine5-3";
        }
        @Html.Partial("Partials/_BeltScales4MineMnemonic", Model.BeltBoiler)

        @{
            Model.Kotel.DivID = "kotel-mine5-1";
        }
        @Html.Partial("Partials/_Kotel4MineMnemonic", Model.Kotel)

        @{
            Model.Sklad.DivID = "sklad-mine5-1";
        }
        @Html.Partial("Partials/_Stockpile4MineMnemonic", Model.Sklad)

        @{
            Model.Raspozn.DivID = "recognize-mine5-1";
        }
        @Html.Partial("Partials/_Raspozn4MineMnemonic", Model.Raspozn)

        <div class="buttons buttons-horz horz-arrow" id="btn_skip-mine5-1">
             <a href='@Url.Action("Alarm", "DashBoard")' title="@Resources.ResourceMnemonic.Libra" class="libra green">@Resources.ResourceMnemonic.Libra</a>
            <a href='@Url.Action("Alarm", "DashBoard")' title="@Resources.ResourceMnemonic.Direction" class="arrow-down green">@Resources.ResourceMnemonic.Arrow</a>
        </div>

        <div class="buttons buttons-horz" id="btn_skip-mine5-2">
            <a href='@Url.Action("Alarm", "DashBoard")' title="@Resources.ResourceMnemonic.Libra" class="libra green">@Resources.ResourceMnemonic.Libra</a>
            <a href='@Url.Action("Alarm", "DashBoard")' title="@Resources.ResourceMnemonic.Direction" class="arrow-down green">@Resources.ResourceMnemonic.Arrow</a>
        </div>

        <div class="buttons buttons-horz" id="btn_drob-mine5-1">
            <a href='@Url.Action("Alarm", "DashBoard")' title="@Resources.ResourceMnemonic.Libra" class="libra green">@Resources.ResourceMnemonic.Libra</a>
            <a href='@Url.Action("Alarm", "DashBoard")' title=@Resources.ResourceMnemonic.Direction class="arrow-up green"@Resources.ResourceMnemonic.Arrow></a>
        </div>

        <div class="way" id="poroda-mine5">
            @Resources.ResourceMnemonic.Rocks
        </div>
    </div>
</div>
