@model CTS_Analytics.Models.Mnemonic.Mine_vagon
@using PagedList.Mvc;
@{
    Layout = "~/Views/Mnemonic/_MnemonicMine.cshtml";
    ViewBag.PageName = Resources.ResourceGeneral.HeaderMainPageName;
    ViewBag.PageSubName = Model.MineName;
    ViewBag.MinePng = "mine0.png";
    var lastTrainTime = Model.ShippedToLastTrainDateTime != null ? Model.ShippedToLastTrainDateTime.Value.ToString("HH:mm") : "";
}

<div class="main">
    <div class="page">
        <div class="page-head">
            <h2><i class="vagon"></i>@Model.WagonScaleName</h2>
            <div class="result">
                <div class="res"><span>@Resources.ResourceMnemonic.CoalWarning</span><a href='@Url.Action("Alarm", "DashBoard")'> <i class="green"></i></a></div>
                <div class="res"><span>@Resources.ResourceMnemonic.HSEWarning</span> <a href='@Url.Action("HseAlarm", "Mnemonic")'><i class="green"></i></a></div>
                <div class="clearfix"></div>
            </div>
            <div class="close-button">
                <a href='@Url.Action(Model.ReturnID, "Mnemonic")'>@Resources.ResourceMnemonic.Close <i></i></a>
            </div>
        </div>

        <div class="side w430">
            <div class="line">
                <span class="name">@Resources.ResourceMnemonic.LoadedPerShift</span>
                <div class="count">@Model.ShippedPerShiftTonns</div>
                <span class="caption">@Resources.ResourceMnemonic.Tonns</span>
                <div class="clearfix"></div>
            </div>
            <div class="line">
                <span class="name">@Resources.ResourceMnemonic.LoadedAtLastTrain</span>
                <div class="count">@Model.ShippedToLastTrainTonns</div>
                <span class="caption">@Resources.ResourceMnemonic.Tonns</span>
                <div class="clearfix"></div>
            </div>
            <div class="line">
                <span class="name">@Resources.ResourceMnemonic.LastTrainLoadingTime</span>
                <div class="count">@lastTrainTime</div>
                <span class="caption">@Resources.ResourceMnemonic.HHmm</span>
                <div class="clearfix"></div>
            </div>
            <div class="line">
                <span class="name">@Resources.ResourceMnemonic.WagonCountAtLastTrain</span>
                <div class="count">@Model.LastTrainVagonCount</div>
                <span class="caption">@Resources.ResourceMnemonic.Pieces</span>
                <div class="clearfix"></div>
            </div>

            <div class="line">
                <span class="name">@Resources.ResourceMnemonic.LastTrainDirection</span>
                <div class="count naprav">@Model.LastTrainDirection</div>

                <div class="clearfix"></div>
            </div>
        </div>


        <div id="text">

            <h3>@Resources.ResourceMnemonic.WagonLoadingJourlal</h3>
            <div id="FilterContainer" class="checkbox-inline" data-url='@Url.Action("Mine_vagon", new { ID = Model.ReturnID, wagonScaleID = Model.WagonScaleID })'>
                @Html.TextBoxFor(model => model.WagonNumberFilter)
                <span id="wagonSearchFilter" class="glyphicon glyphicon-search"></span>
                <span class="filter-element">@Resources.ResourceMnemonic.WagonNumberFilter</span>
                @Html.CheckBoxFor(model => model.FilterManualInput)
                <span class="filter-element">@Resources.ResourceMnemonic.ManualInputFilter</span>
                @Html.CheckBoxFor(model => model.OrderByTransferTimeStampAsc)
                <span class="filter-element">@Resources.ResourceMnemonic.OrderByTransferTimeStampAsc</span>
            </div>

            @if (Model.WagonTransfers != null)
            {
                <div class="scrollbar-outer">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@Resources.ResourceMnemonic.Time</th>
                                <th>@Resources.ResourceMnemonic.TrainNumber</th>
                                <th>@Resources.ResourceMnemonic.WagonNumber</th>
                                <th>@Resources.ResourceMnemonic.Netto, @Resources.ResourceMnemonic.Tonns</th>
                                <th>@Resources.ResourceMnemonic.Brutto, @Resources.ResourceMnemonic.Tonns</th>
                                <th>@Resources.ResourceMnemonic.Direction</th>
                                <th>@Resources.ResourceMnemonic.Photo </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transfer in Model.PagedWagonTrasnfersAndPhotos)
                            {
                                string manualMarker = (transfer.WagonTransfer.OperatorName != ProjectConstants.DbSyncOperatorName) ? "<i class='icon-hand' style='visibility: visible;'></i>" : "";
                                string rowStyle = (transfer.WagonTransfer.OperatorName != ProjectConstants.DbSyncOperatorName) ? "background-color:#FFF0AC" : "";
                                <tr style="@rowStyle">
                                    <td>@Html.Raw(manualMarker)</td>
                                    <td>@transfer.WagonTransfer.TransferTimeStamp.ToString("HH:mm dd.MM.yyyy")</td>
                                    <td>@transfer.WagonTransfer.LotName</td>
                                    <td>@transfer.WagonTransfer.SublotName</td>
                                    <td>@transfer.WagonTransfer.Netto</td>
                                    <td>@transfer.WagonTransfer.Brutto</td>
                                    <td>@transfer.WagonTransfer.Direction</td>

                                    @if (transfer.Photo != null && transfer.Photo.PictureGallery.Any())
                                    {
                                        var uniqueDataID = 1;
                                        <td>
                                            @foreach (var photo in transfer.Photo.PictureGallery)
                                            {
                                                <a data-fancybox="@transfer.Photo.GallleryName" data-caption="<b>@transfer.Photo.WagonNumber</b><span>@transfer.Photo.Date.ToString("yyyy.MM.dd HH:mm:ss")</span>" href="@Html.Raw(@"#data"+transfer.Photo.GallleryName+uniqueDataID)" class="photo">Фото</a>
                                                <div style="display:none"><img id="@Html.Raw(@"data"+transfer.Photo.GallleryName+uniqueDataID)" src="@photo" /></div>
                                                uniqueDataID++;
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            @Html.PagedListPager(Model.PagedWagonTrasnfersAndPhotos, page => Url.Action("Mine_vagon", new { ID = Model.ReturnID, wagonScaleID = Model.WagonScaleID, page = page }))
        </div>
    </div>
</div>


<script src="~/Content/Mnemo/js/jquery.knob.min.js"></script>
<script src="~/Content/Mnemo/js/jquery.scrollbar.min.js"></script>
<link href="~/Content/Mnemo/style/jquery.scrollbar.css" rel="stylesheet">
<script src="~/Content/Mnemo/js/jquery.fancybox.min.js"></script>
<script>
    $(function ($) {
        jQuery(".photo").fancybox({
            buttons: [
                'slideShow',
                'fullScreen',
                'thumbs',
                //'share',
                'download',
                'zoom',
                'close'
            ],

        });
        jQuery('.scrollbar-outer').scrollbar();
        $(".knob").knob();

    });


</script>
