
@model CTS_Analytics.Models.Mnemonic.COF


<div class="block black" id="@Model.DivId">


    <div class="title2">
        <i class="icon icon_tsof"></i>
        <a href="#">@Resources.ResourceMnemonic.CofName</a>

    </div>

    <div class="text">
        <div class="line">
            <span class="name">@Resources.ResourceMnemonic.ProdPlan</span>
            <div class="count">@Model.ProdPlan</div>
            <span class="caption">@Resources.ResourceMnemonic.Tonns</span>
            <div class="clearfix"></div>
        </div>
        <div class="line">
            <span class="name">@Resources.ResourceMnemonic.ProdFact</span>
            <div class="count">@Model.ProdPlan</div>
            <span class="caption">@Resources.ResourceMnemonic.Tonns</span>
            <div class="clearfix"></div>
        </div>
        <div class="line">
            <span class="name">@Resources.ResourceMnemonic.Shipped</span>
            <div class="count">@Model.Shipped</div>
            <span class="caption">@Resources.ResourceMnemonic.Tonns</span>
            <div class="clearfix"></div>
        </div>
        <div class="line">
            <span class="name">@Resources.ResourceMnemonic.AtStockPiles</span>
            <div class="count">@Model.AtStockpile</div>
            <span class="caption">@Resources.ResourceMnemonic.Tonns</span>
            <div class="clearfix"></div>
        </div>
        <div class="result">

            @{ var warning1 = Html.Raw(@"<i class='green'></i>");
                if (Model.CoalWarning == true)
                {
                    warning1 = Html.Raw(@"<i class='yellow'></i>");
                }
                if (Model.CoalAlarm == true)
                {
                    warning1 = Html.Raw(@"<i class='red'></i>");
                }
            }
            <div class="res"><span>@Resources.ResourceMnemonic.CoalWarning</span><a href='@Url.Action("Alarm", "DashBoard")'> @warning1</div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
