@model CTS_Analytics.Models.Mnemonic.MineGeneral.HandLegend

<div class="hand-legend" id="@Model.DivID">
    <div class="hl1"><div class="count hand-count">@Model.ManualValue</div> - @Resources.ResourceMnemonic.ManuaData</div>
    <div class="hl2"><div class="count auto-count">@Model.AutomaticValue</div> - @Resources.ResourceMnemonic.AutomaticData</div>
</div>