
@model CTS_Analytics.Models.Mnemonic.Mine_Kotel


    <div class="block gray" id="@Model.DivID">
        <div class="title">
            <i class="icon icon_mine"></i>
            <a href='@Url.Action(Model.ReturnID, "Mnemonic")'>@Model.MineName</a>
           
        </div>
        <div class="text">
            <div class="line">
                <span class="name">@Resources.ResourceMnemonic.BoilerConsumptionNorm</span>
                <div class="count">@Model.ConsumptionNorm</div>
                <span class="caption">@Resources.ResourceMnemonic.Tonns</span>
                <div class="clearfix"></div>
            </div>
            <div class="line">
                <span class="name">@Resources.ResourceMnemonic.BoilerConsumptionFact</span>
                <div class="count">@Model.ConsumptionFact.ToString("F")</div>
                <span class="caption">@Resources.ResourceMnemonic.Tonns</span>

            </div>
            <div class="result">
                <div class="res"><span>@Resources.ResourceMnemonic.CoalWarning</span><a href='@Url.Action("Alarm", "DashBoard")'> <i class="green"></i></a></div>
                <div class="res"><span>@Resources.ResourceMnemonic.HSEWarning</span> <a href='@Url.Action("HseAlarm", "Mnemonic")'><i class="green"></i></a></div>

                <div class="clearfix"></div>
            </div>
            @*<div class="result">

            @{ var warning1 = Html.Raw(@"<i class='green'></i>");
                if (Model.CoalWarning == true)
                {
                    warning1 = Html.Raw(@"<i class='yellow'></i>");
                }
                if (Model.CoalAlarm == true)
                {
                    warning1 = Html.Raw(@"<i class='red'></i>");
                }
                var warning2 = Html.Raw(@"<i class='green'></i>");
                if (Model.HSEWarning == true)
                {
                    warning2 = Html.Raw(@"<i class='yellow'></i>");
                }
                if (Model.HSEAlarm == true)
                {
                    warning2 = Html.Raw(@"<i class='red'></i>");
                }
            }
            <div class="res"><a href='@Url.Action("Alarm", "DashBoard")'>@Resources.ResourceMnemonic.CoalWarning</a>@warning1 </div>
            <div class="res"><span>@Resources.ResourceMnemonic.HSEWarning</span> @warning2</div>
            <div class="clearfix"></div>
        </div>*@
        </div>
    </div>
