
@model CTS_Analytics.Models.Mnemonic.StationGeneral


    <div class="block blue" id="@Model.DivId">
        <div class="title">
            <i class="icon icon_st"></i>
            <a href='@Url.Action(@Model.StationID, "Mnemonic")'>@Model.StationName</a>

        </div>
        <div class="text">

            <div class="line">
                <span class="name">@Resources.ResourceMnemonic.StationIncome</span>
                <div class="count">@Model.Income</div>
                <span class="caption">@Resources.ResourceMnemonic.Tonns</span>
                <div class="clearfix"></div>
            </div>
            <div class="line">
                <span class="name">@Resources.ResourceMnemonic.StationOutcome</span>
                <div class="count">@Model.Outcome</div>
                <span class="caption">@Resources.ResourceMnemonic.Tonns</span>
                <div class="clearfix"></div>
            </div>
            <div class="result">
                @{ var warning1 = Html.Raw(@"<i class='green'></i>");
                    if (Model.CoalWarning == true)
                    {
                        warning1 = Html.Raw(@"<i class='yellow'></i>");
                    }
                    if (Model.CoalAlarm == true)
                    {
                        warning1 = Html.Raw(@"<i class='red'></i>");
                    }
                    var warning2 = Html.Raw(@"<i class='green'></i>");
                    if (Model.HSEWarning == true)
                    {
                        warning2 = Html.Raw(@"<i class='yellow'></i>");
                    }
                    if (Model.HSEAlarm == true)
                    {
                        warning2 = Html.Raw(@"<i class='red'></i>");
                    }
                }
                <div class="res"><span>@Resources.ResourceMnemonic.CoalWarning</span><a href='@Url.Action("Alarm", "DashBoard")'> <i class="green"></i></a></div>
                <div class="res"><span>@Resources.ResourceMnemonic.HSEWarning</span> <a href='@Url.Action("HseAlarm", "Mnemonic")'>@warning2</a></div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
