@using System.Linq;
@model CTS_Analytics.Models.Mnemonic.Station.FromStationData

@{ 
    var lastTrainTransferTimeStamp = string.Empty;
    if (Model.WagonTransfers.Count > 0)
    {
        lastTrainTransferTimeStamp = Model.WagonTransfers
            .OrderByDescending(t => t.TransferTimeStamp)
            .FirstOrDefault()
            .TransferTimeStamp
            .ToString("HH:mm");
    }
}
    <div class="block block_w5" id=@Model.ViewId>
        <div class="title">
            <i class="icon icon_mine"></i>
            <a href='@Url.Action(Model.MineID, "Mnemonic")'>@Model.MineName</a>

        </div>
        <div class="text">
            <div class="line2">
                <span class="name">@Resources.ResourceMnemonic.ShippedShort</span>
                <div class="count">@Model.WagonTransfers.Count()</div>
                <span class="caption">@Resources.ResourceMnemonic.Wagons</span>
                <div class="count count2">@Model.WagonTransfers.Select(s => s.Brutto).Sum()</div>
                <span class="caption">@Resources.ResourceMnemonic.Tonns</span>

                <span class="name2">@Resources.ResourceMnemonic.LastTrainLoadingTimeShort</span>
                <div class="count">@lastTrainTransferTimeStamp</div>
                <div class="clearfix"></div>
        </div>
    </div>
</div>