@{
    ViewBag.PageName = Resources.ResourceDashboard.PageName;
    Layout = "~/Views/DashBoard/_DashLayout.cshtml";
}

<div class="topmenu">
    <a href='@Url.Action("Alarm", "DashBoard")'>@Resources.ResourceDashboard.RailRoadIncidents</a>
    <a  href='@Url.Action("Alarm_other", "DashBoard")'>@Resources.ResourceDashboard.OtherIncidents</a>
</div>

@RenderBody()