@model IEnumerable<SelectListItem>
<div class="form-group">
    <label class="control-label col-md-2" for="locations">@Resources.ResourceFilters.Location</label>
    <select id="locations" multiple="multiple" name="locationsInForm" class="multiselect">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                if (item.Text != null)
                {
            <option value="@item.Value">
                @item.Text
            </option>
                }
            }
        }
    </select>
</div>

<script type="text/javascript">
    $(function () {
        $('#locations').multiselect({
            includeSelectAllOption: true,
                selectAllText: '@Resources.ResourceFilters.allSelected',
                nonSelectedText: '@Resources.ResourceFilters.NonSelected',
                allSelectedText: '@Resources.ResourceFilters.allSelected',
                nSelectedText: '@Resources.ResourceFilters.Selected'
        });
    });
</script>
