@model CTS_Analytics.Models.Mnemonic.Mine_vagon
@using PagedList.Mvc;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageName = Resources.ResourceMnemonic.Thesaurus;
    ViewBag.PageSubName = Resources.ResourceMnemonic.WagonSearch;
    var language = Request.Cookies["lang"] != null ? Request.Cookies["lang"].Value : "";
}


<div class="main">
    <div class="page">

        <div id="text" style="margin-left:5px;">

            <h3>@Resources.ResourceMnemonic.WagonLoadingJourlal</h3>
            <div id="FilterContainer" class="checkbox-inline" data-url='@Url.Action("doc_detail_wagon_search")'>
                @Html.TextBoxFor(model => model.WagonNumberFilter)
                <span id="wagonSearchFilter" class="glyphicon glyphicon-search"></span>
                <span class="filter-element">@Resources.ResourceMnemonic.WagonNumberFilter</span>
                @Html.CheckBoxFor(model => model.FilterManualInput)
                <span class="filter-element">@Resources.ResourceMnemonic.ManualInputFilter</span>
                @Html.CheckBoxFor(model => model.OrderByTransferTimeStampAsc)
                <span class="filter-element">@Resources.ResourceMnemonic.OrderByTransferTimeStampAsc</span>
            </div>

            @if (Model.WagonTransfers != null)
            {
                <div class="scrollbar-outer">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>@Resources.ResourceMnemonic.Time</th>
                                <th>@Resources.ResourceMnemonic.Location</th>
                                <th>@Resources.ResourceMnemonic.TrainNumber</th>
                                <th>@Resources.ResourceMnemonic.WagonNumber</th>
                                <th>@Resources.ResourceMnemonic.Netto, @Resources.ResourceMnemonic.Tonns</th>
                                <th>@Resources.ResourceMnemonic.Brutto, @Resources.ResourceMnemonic.Tonns</th>
                                <th>@Resources.ResourceMnemonic.Direction</th>
                                <th>@Resources.ResourceMnemonic.Photo </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var transfer in Model.PagedWagonTrasnfersAndPhotos)
                            {
                                string manualMarker = (transfer.WagonTransfer.OperatorName != ProjectConstants.DbSyncOperatorName) ? "<i class='icon-hand' style='visibility: visible;'></i>" : "";
                                string rowStyle = (transfer.WagonTransfer.OperatorName != ProjectConstants.DbSyncOperatorName) ? "background-color:#FFF0AC" : "";

                                string locationName =
                                    language == "en" ? transfer.WagonTransfer.Equip.Location.LocationNameEng :
                                    language == "kk" ? transfer.WagonTransfer.Equip.Location.LocationNameKZ :
                                transfer.WagonTransfer.Equip.Location.LocationName;
                            <tr style="@rowStyle">
                                <td>@Html.Raw(manualMarker)</td>
                                <td>@transfer.WagonTransfer.TransferTimeStamp.ToString("HH:mm dd.MM.yyyy")</td>
                                <td>@locationName</td>
                                <td>@transfer.WagonTransfer.LotName</td>
                                <td>@transfer.WagonTransfer.SublotName</td>
                                <td>@transfer.WagonTransfer.Netto</td>
                                <td>@transfer.WagonTransfer.Brutto</td>
                                <td>@transfer.WagonTransfer.Direction</td>

                                @if (transfer.Photo.PictureGallery != null && transfer.Photo.PictureGallery.Any())
                                {
                                    var uniqueDataID = 1;
                                    <td>
                                        @foreach (var photo in transfer.Photo.PictureGallery)
                                        {
                                            <a data-fancybox="@transfer.Photo.GallleryName" data-caption="<b>@transfer.Photo.WagonNumber</b><span>@transfer.Photo.Date.ToString("yyyy.MM.dd HH:mm:ss")</span>" href="@Html.Raw(@"#data"+transfer.Photo.GallleryName+uniqueDataID)" class="photo">Фото</a>
                                            <div style="display:none"><img id="@Html.Raw(@"data"+transfer.Photo.GallleryName+uniqueDataID)" src="@photo" /></div>
                                            uniqueDataID++;
                                        }
                                    </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            
            @Html.PagedListPager(Model.PagedWagonTrasnfersAndPhotos, page =>
       {
           string longurl = Request.Url.AbsoluteUri; // такая генерация URL чтобы сохранить фильтры
           var uriBuilder = new UriBuilder(longurl);
           var query = HttpUtility.ParseQueryString(uriBuilder.Query);
           query["page"] = page.ToString();
           uriBuilder.Query = query.ToString();
           longurl = uriBuilder.ToString();
           return longurl;
       })  
        </div>
    </div>
</div>


<script src="~/Content/Mnemo/js/jquery.knob.min.js"></script>
<script src="~/Content/Mnemo/js/jquery.scrollbar.min.js"></script>
<link href="~/Content/Mnemo/style/jquery.scrollbar.css" rel="stylesheet">
<script src="~/Content/Mnemo/js/jquery.fancybox.min.js"></script>
<script>
    $(function ($) {
        jQuery(".photo").fancybox({
            buttons: [
                'slideShow',
                'fullScreen',
                'thumbs',
                //'share',
                'download',
                'zoom',
                'close'
            ],

        });
        jQuery('.scrollbar-outer').scrollbar();
        $(".knob").knob();

    });


</script>
