@model CTS_Analytics.Models.SkipsDropDownModel
@if (Model.Skips != null && Model.Skips.Count() > 0)
{
<label class="control-label col-md-2" for="locations">@Resources.ResourceFilters.Skip</label>
<select id="skips" multiple="multiple" name="skipsInForm" class="multiselect">
    
        @foreach (var item in Model.Skips)
        {
            if (item.Text != null)
            {
        <option value="@item.Value">
            @item.Text
        </option>
            }
        }
    
</select>
}

<script type="text/javascript">

        $(function () {
            $('#skips').multiselect({
                includeSelectAllOption: true,
                selectAllText: '@Resources.ResourceFilters.allSelected',
                nonSelectedText: '@Resources.ResourceFilters.NonSelected',
                allSelectedText: '@Resources.ResourceFilters.allSelected',
                nSelectedText: '@Resources.ResourceFilters.Selected'
            });
        });
</script>